<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <meta charset="UTF-8">
    <title id="title">Login Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="main.js"></script>
</head>
<body>
<div id="login-page">
    <h1 id="maint">Launcher Login</h1>
    <span class="text-span">Mail</span><br>
    <input class="text-field" type="text" name="mail" id="email" size="20"><br>
    <span class="text-span">Password</span><br>
    <input class="text-field" type="password" id="pw" name="pw" size="20"><br>
    <button type="button" id="login-button" onclick="loginclick()">Login</button>
</div>
<div id="main-page">
    <div id="upside">
        <span id="username">USERNAME</span>
        <img src="" alt="Player Head" id="player-head">
    </div>
    <div id="main-content">
        <img src="https://cdn.discordapp.com/attachments/796384846704279555/872134724062179398/unknown.png" alt="image" id="main-image">
    </div>
    <div id="downside">
        <button type="button" id="play-button" onclick="launch()">Play</button>
    </div>
</div>
</body>
</html>